In [1]:
import pandas as pd
from tqdm import tqdm, tqdm_notebook

In [3]:
path = '../data/OCT2020STRETCHEROCCUPANCY.XLS'
table = pd.read_excel(path, header=4)
# table.Date = pd.to_datetime(table.Date)
table = table.head(28)
table.head()

,Date,Day,Patient count midnight,Percent midnight,New patient midnight,Patient count 1H,Percent 1H,New patient 1H,Patient count 2H,Percent 2H,...,Patient count 21H,Percent 21H,New patient 21H,Patient count 22H,Percent 22H,New patient 22H,Patient count 23H,Percent 23H,New patient 23H,New Patient
0,2020-10-01,Friday,49,92.45,2,46,86.79,2,45,84.91,...,68,128.30,4,63,118.87,6,65,122.64,4,116
1,2020-10-02,Saturday,64,120.75,1,60,113.21,3,59,111.32,...,69,130.19,5,67,126.42,7,69,130.19,1,113
2,2020-10-03,Sunday,64,120.75,2,61,115.09,2,59,111.32,...,47,88.68,7,50,94.34,7,55,103.77,2,111
3,2020-10-04,Monday,56,105.66,2,53,100.00,0,53,100.00,...,52,98.11,5,52,98.11,5,52,98.11,6,98
4,2020-10-05,Tuesday,52,98.11,0,50,94.34,2,48,90.57,...,71,133.96,3,65,122.64,4,63,118.87,5,126

In [4]:
column_names = ["ds", "y"]
df = pd.DataFrame(columns = column_names)

for i,row in tqdm_notebook(table.iterrows()):
  for hour in range(0,24):
    
    date = row['Date']
    hr = hour
    timestamp = date.replace(hour=hr)
    count = row[2+3*hour]
    df = df.append(pd.Series([timestamp, count], index=df.columns), ignore_index=True)
    # print(timestamp, count)

df

<ipython-input-4-df38554b58bc>:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i,row in tqdm_notebook(table.iterrows()):

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0â€¦

                     ds   y
0   2020-10-01 00:00:00  49
1   2020-10-01 01:00:00  46
2   2020-10-01 02:00:00  45
3   2020-10-01 03:00:00  44
4   2020-10-01 04:00:00  45
..                  ...  ..
667 2020-10-28 19:00:00  44
668 2020-10-28 20:00:00  39
669 2020-10-28 21:00:00  43
670 2020-10-28 22:00:00  39
671 2020-10-28 23:00:00  35

[672 rows x 2 columns]

In [10]:
df.ds = pd.to_datetime(df.ds)
df

                     ds   y
0   2020-10-01 00:00:00  49
1   2020-10-01 01:00:00  46
2   2020-10-01 02:00:00  45
3   2020-10-01 03:00:00  44
4   2020-10-01 04:00:00  45
..                  ...  ..
667 2020-10-28 19:00:00  44
668 2020-10-28 20:00:00  39
669 2020-10-28 21:00:00  43
670 2020-10-28 22:00:00  39
671 2020-10-28 23:00:00  35

[672 rows x 2 columns]

In [11]:
old = pd.read_csv('../jghOccupancy.csv')
old.ds = pd.to_datetime(old.ds)
old

                       ds     y
0     2012-05-01 00:00:00  39.0
1     2012-05-01 01:00:00  40.0
2     2012-05-01 02:00:00  40.0
3     2012-05-01 03:00:00  40.0
4     2012-05-01 04:00:00  39.0
...                   ...   ...
76825 2021-03-16 14:00:00  90.0
76826 2021-03-16 15:00:00  86.0
76827 2021-03-16 16:00:00  88.0
76828 2021-03-16 17:00:00  83.0
76829 2021-03-16 18:00:00  80.0

[76830 rows x 2 columns]

In [12]:
new = pd.concat([old, df], ignore_index=True)
new

                       ds   y
0     2012-05-01 00:00:00  39
1     2012-05-01 01:00:00  40
2     2012-05-01 02:00:00  40
3     2012-05-01 03:00:00  40
4     2012-05-01 04:00:00  39
...                   ...  ..
77497 2020-10-28 19:00:00  44
77498 2020-10-28 20:00:00  39
77499 2020-10-28 21:00:00  43
77500 2020-10-28 22:00:00  39
77501 2020-10-28 23:00:00  35

[77502 rows x 2 columns]

In [14]:
new.sort_values(by='ds').to_csv('../jghOccupancy.csv', index=False)