In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../jghOccupancy.csv')
df.head()

                    ds     y
0  2012-05-01 00:00:00  39.0
1  2012-05-01 01:00:00  40.0
2  2012-05-01 02:00:00  40.0
3  2012-05-01 03:00:00  40.0
4  2012-05-01 04:00:00  39.0

In [5]:
df.sort_values(by=['ds'])

                        ds     y
0      2012-05-01 00:00:00  39.0
1      2012-05-01 01:00:00  40.0
2      2012-05-01 02:00:00  40.0
3      2012-05-01 03:00:00  40.0
4      2012-05-01 04:00:00  39.0
...                    ...   ...
76712  2021-03-11 10:00:00  50.0
76713  2021-03-11 11:00:00  58.0
76714  2021-03-11 12:00:00  66.0
76715  2021-03-11 13:00:00  71.0
76716  2021-03-11 15:00:00  63.0

[76717 rows x 2 columns]

In [20]:
df.ds = pd.to_datetime(df.ds)

In [30]:
df.set_index('ds').resample('H').mean().reset_index()

                       ds     y
0     2012-05-01 00:00:00  39.0
1     2012-05-01 01:00:00  40.0
2     2012-05-01 02:00:00  40.0
3     2012-05-01 03:00:00  40.0
4     2012-05-01 04:00:00  39.0
...                   ...   ...
77675 2021-03-11 11:00:00  58.0
77676 2021-03-11 12:00:00  66.0
77677 2021-03-11 13:00:00  71.0
77678 2021-03-11 14:00:00   NaN
77679 2021-03-11 15:00:00  63.0

[77680 rows x 2 columns]

In [31]:
df.to_csv('../jghOccupancy-withNaNs.csv', index=False)