In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../jghOccupancy.csv')
df.head()

                    ds     y
0  2012-05-01 00:00:00  39.0
1  2012-05-01 01:00:00  40.0
2  2012-05-01 02:00:00  40.0
3  2012-05-01 03:00:00  40.0
4  2012-05-01 04:00:00  39.0

In [3]:
df.sort_values(by=['ds'])

                        ds     y
0      2012-05-01 00:00:00  39.0
1      2012-05-01 01:00:00  40.0
2      2012-05-01 02:00:00  40.0
3      2012-05-01 03:00:00  40.0
4      2012-05-01 04:00:00  39.0
...                    ...   ...
76713  2021-03-11 11:00:00  58.0
76714  2021-03-11 12:00:00  66.0
76715  2021-03-11 13:00:00  71.0
76716  2021-03-11 15:00:00  63.0
76682  2021-03-90 23:00:00  58.0

[76717 rows x 2 columns]