In [11]:
import pandas as pd
import tabula


from datetime import date, timedelta
# import time
# import os

In [5]:
df = tabula.read_pdf("https://www.msss.gouv.qc.ca/professionnels/statistiques/documents/urgences/Rap_Quotid_SituatUrgence1.pdf", pages="7")
df[0].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Patients sur civière,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Patients sur civière plus de 24 h,...,Unnamed: 10,Patients sur civière plus de 48 h,Unnamed: 11,Unnamed: 12,Unnamed: 13,Visites totales la veille,Unnamed: 14,Unnamed: 15,Taux d'occupation %,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,Moyenne 5,NaN,NaN,NaN,...,NaN,NaN,Moyenne 5,NaN,NaN,NaN,Moyenne 5,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Sept derniers jours,NaN,dernières,NaN,NaN,Sept derniers jours,...,NaN,Sept derniers jours,dernières,NaN,NaN,Sept derniers jours,dernières,NaN,Sept derniers jours,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,semaines,NaN,NaN,NaN,...,NaN,NaN,semaines,NaN,NaN,NaN,semaines,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,An.,NaN,NaN,NaN,...,NaN,NaN,An.,NaN,NaN,NaN,An.,NaN,NaN,NaN
4,NaN,NaN,04/03,05/03,06/03 07/03 08/03 09/03,10/03,An.,04/03,05/03,06/03 07/03 08/03 09/03 10/03,...,05/03,06/03 07/03 08/03 09/03 10/03,An.,04/03,05/03,06/03 07/03 08/03 09/03 10/03,An.,04/03,05/03 06/03 07/03 08/03 09/03,10/03

In [37]:
new_jgh_last_5 = df[0].loc[27]['Visites totales la veille'].split(' ')
new_jgh_last_5 = [int(visits) for visits in new_jgh_last_5]
new_jgh_last_5

[201, 170, 182, 201, 203]

In [6]:
jgh_visits_yest = df[0].loc[27]['Visites totales la veille'].split(' ')[4]
jgh_visits_yest

'203'

In [7]:


old_jgh_data = pd.read_csv('../jghDailyVisits.csv')
old_jgh_data['ds'] = pd.to_datetime(old_jgh_data['ds'])
print('old jgh data: ', len(old_jgh_data),
      ' rows, ending ', old_jgh_data.ds.max())

old_jgh_data.tail()

old jgh data:  3232  rows, ending  2021-03-09 00:00:00

             ds    y
3227 2021-03-05  201
3228 2021-03-06  170
3229 2021-03-07  182
3230 2021-03-08  201
3231 2021-03-09  203

In [38]:
old_jgh_last_5 = old_jgh_data.y.tail().tolist()
old_jgh_last_5

[201, 170, 182, 201, 203]

In [27]:
new_jgh_data = pd.DataFrame([{'ds':pd.to_datetime(date.today()-timedelta(days=1)), 'y':jgh_visits_yest}])
new_jgh_data

          ds    y
0 2021-03-10  203

In [28]:
old_jgh_data

             ds    y
0    2012-05-01  211
1    2012-05-02  201
2    2012-05-03  204
3    2012-05-04  210
4    2012-05-05  180
...         ...  ...
3227 2021-03-05  201
3228 2021-03-06  170
3229 2021-03-07  182
3230 2021-03-08  201
3231 2021-03-09  203

[3232 rows x 2 columns]

In [29]:
concat_jgh_data = old_jgh_data.append(
    new_jgh_data, ignore_index=True, sort=True)

concat_jgh_data.tail()

# concat_jgh_data.to_csv('../jghDailyVisits.csv', index=False)

             ds    y
3228 2021-03-06  170
3229 2021-03-07  182
3230 2021-03-08  201
3231 2021-03-09  203
3232 2021-03-10  203

In [1]:
import pandas as pd
import tabula
from datetime import date, timedelta

df = tabula.read_pdf("https://www.msss.gouv.qc.ca/professionnels/statistiques/documents/urgences/Rap_Quotid_SituatUrgence1.pdf", pages="7")[0]

new_jgh_last_5 = df.loc[27]['Visites totales la veille'].split(' ')
new_jgh_last_5 = [int(visits) for visits in new_jgh_last_5]

old_jgh_data = pd.read_csv('../jghDailyVisits.csv')
old_jgh_data['ds'] = pd.to_datetime(old_jgh_data['ds'])
old_jgh_last_5 = old_jgh_data.y.tail().tolist()

if new_jgh_last_5 != old_jgh_last_5:
    print('new data')
    jgh_visits_yest = new_jgh_last_5[4]
    new_jgh_data = pd.DataFrame([{'ds':pd.to_datetime(date.today()-timedelta(days=1)), 'y':jgh_visits_yest}])
    concat_jgh_data = old_jgh_data.append(new_jgh_data, ignore_index=True, sort=True)
    concat_jgh_data.to_csv('../jghDailyVisits.csv', index=False)
else:
    print('no new data')

no new data

In [40]:
new_jgh_last_5[4]

203